[submodule "ruby/store"]
	path = ruby/store
	url = https://github.com/leblancr/store
[submodule "ruby/blog"]
	path = ruby/blog
	url = https://github.com/leblancr/blog
[submodule "ruby/ruby-koans"]
	path = ruby/ruby-koans
	url = https://github.com/leblancr/ruby-koans
