[submodule "ruby/store"]
	path = ruby/store
	url = https://github.com/leblancr/store
[submodule "ruby/blog"]
	path = ruby/blog
	url = https://github.com/leblancr/blog
[submodule "ruby/ruby-koans"]
	path = ruby/ruby-koans
	url = https://github.com/leblancr/ruby-koans
[submodule "python/asyncio_tutorial"]
	path = python/asyncio_tutorial
	url = https://github.com/leblancr/asyncio_tutorial.git
[submodule "python/xword_puzzle"]
	path = python/xword_puzzle
	url = https://github.com/leblancr/xword_puzzle.git
[submodule "python/django_react_notes"]
	path = python/django_react_notes
	url = https://github.com/leblancr/django_react_notes/
[submodule "python/pymongo-fastapi-crud-vue"]
	path = python/pymongo-fastapi-crud-vue
	url = https://github.com/leblancr/pymongo-fastapi-crud-vue
[submodule "python/rewrite-it-in-rust"]
	path = python/rewrite-it-in-rust
	url = https://github.com/leblancr/rewrite-it-in-rust
[submodule "python/mongodb_examples"]
	path = python/mongodb_examples
	url = https://github.com/leblancr/mongodb_examples.git
[submodule "python/mongodb_tutorials"]
	path = python/mongodb_tutorials
	url = https://github.com/leblancr/mongodb_tutorials
[submodule "python/flask_react_and_postgres"]
	path = python/flask_react_and_postgres
	url = https://github.com/leblancr/flask_react_and_postgres.git
[submodule "python/fastapi_course"]
	path = python/fastapi_course
	url = http://github.com/leblancr/fastapi-course
[submodule "python/django_tutorial"]
	path = python/django_tutorial
	url = http://github.com/leblancr/django_tutorial
[submodule "elixir/elixir_tutorial"]
	path = elixir/elixir_tutorial
	url = https://github.com/leblancr/elixer_tutorial.git
[submodule "python/gil_tutorial"]
	path = python/gil_tutorial
	url = https://github.com/leblancr/gil_tutorial.git
[submodule "elixir/project_management_example"]
	path = elixir/project_management_example
	url = https://github.com/leblancr/project_management_example.git
[submodule "phoenix/real_deal_ap"]
	path = phoenix/real_deal_ap
	url = https://github.com/leblancr/real_deal_api.git
[submodule "phoenix/real_deal_api"]
	path = phoenix/real_deal_api
	url = https://github.com/leblancr/real_deal_api.git
[submodule "phoenix/hello"]
	path = phoenix/hello
	url = https://github.com/leblancr/hello.git
[submodule "phoenix/elixir_gist"]
	path = phoenix/elixir_gist
	url = https://github.com/leblancr/elixir_gist.git
[submodule "leetcode"]
	path = leetcode
	url = https://github.com/leblancr/leetcode.git
[submodule "javascript/vue-tutorial"]
	path = javascript/vue-tutorial
	url = https://github.com/leblancr/vue-tutorial.git
[submodule "javascript/svelte-tutorial"]
	path = javascript/svelte-tutorial
	url = https://github.com/leblancr/svelte-tutorial.git[submodule "javascript/superheros"]
	path = javascript/superheros
	url = https://github.com/leblancr/superheros
[submodule "javascript/npm-experiment"]
	path = javascript/npm-experiment
	url = https://github.com/leblancr/npm-experiment
[submodule "javascript/moz-todo-vue"]
	path = javascript/moz-todo-vue
	url = https://github.com/leblancr/moz-todo-vue/
[submodule "javascript/moz-todo-react"]
	path = javascript/moz-todo-react
	url = https://github.com/leblancr/moz-todo-react/
[submodule "javascript/ember-todomvc"]
	path = javascript/ember-todomvc
	url = https://github.com/leblancr/ember-todomvc/
[submodule "elixir/mix_example"]
	path = elixir/mix_example
	url = https://github.com/leblancr/mix_example
[submodule "elixir/first_api"]
	path = elixir/first_api
	url = https://github.com/leblancr/first_api
[submodule "elixir/erl_tutorial"]
	path = elixir/erl_tutorial
	url = https://github.com/leblancr/erl_tutorial
[submodule "elixir/elixir_full_course"]
	path = elixir/elixir_full_course
	url = https://github.com/leblancr/elixir_full_course
