[submodule "ruby/store"]
	path = ruby/store
	url = https://github.com/leblancr/store
[submodule "ruby/blog"]
	path = ruby/blog
	url = https://github.com/leblancr/blog
[submodule "ruby/ruby-koans"]
	path = ruby/ruby-koans
	url = https://github.com/leblancr/ruby-koans
[submodule "python/asyncio_tutorial"]
	path = python/asyncio_tutorial
	url = https://github.com/leblancr/asyncio_tutorial.git
[submodule "python/xword_puzzle"]
	path = python/xword_puzzle
	url = https://github.com/leblancr/xword_puzzle.git
[submodule "python/django_react_notes"]
	path = python/django_react_notes
	url = https://github.com/leblancr/django_react_notes/
[submodule "python/pymongo-fastapi-crud-vue"]
	path = python/pymongo-fastapi-crud-vue
	url = https://github.com/leblancr/pymongo-fastapi-crud-vue
[submodule "python/rewrite-it-in-rust"]
	path = python/rewrite-it-in-rust
	url = https://github.com/leblancr/rewrite-it-in-rust
